extends ./layout
block content
	.row
		.col-xs-12
			.col-xs-5.form-group
				label.label.col-xs-4 ip:
				input#filter-ip.form-control.col-xs-8(type="text" style="width:400px;")
			.col-xs-5.form-group
				label.label.col-xs-4 Address:
				input#address.form-control.col-xs-8(type="text" style="width:400px;")
			.col-xs-5.form-group
				label.label comment:
				input#comment.form-control(type="text")
			.col-xs-5.form-group
				label.label Persian Comment:
				input#persian-comment.form-control(type="text")
			.col-xs-5.form-check
				label.label.form-check-label 
					input#show-in-site-checkbox.form-check-input(type="checkbox")
					| Show in site
			.col-xs-2
				input#submit-btn.btn.btn-success.form-control(type="button" value="submit" style="width:200px;")
	.row
		.col-xs-12
						
			table.table.table-bordered.table-striped(data-toggle="table" data-pagination="true" 
														data-search="true" data-url="data" data-side-pagination="server" data-height="400px"
														data-page-list="[5, 10, 20, 50, 100, 200]"
														data-sort-name="address" data-sort-order="asc")
				thead
					tr
						//- td #
						th(data-field="ip" data-sortable="true") ip
						th(data-field="address" data-sortable="true") address
						th(data-field="comment") comment
						th(data-field="persian_comment") persian
						th(data-field="download" data-formatter="byteFormatter") download
						th(data-field="upload" data-formatter="byteFormatter") upload
						th(data-field="total_bytes" data-formatter="byteFormatter") total
						th(data-field="total_bytes" data-formatter="actionsFormatter") actions
						//- td action			
				//- each val,index in ips
				//- 	tr
				//- 		td= index+1
				//- 		td= val["ip"]
				//- 		td
				//- 			a(href="http://" + val['address'] target='_blank')=val['address']
				//- 		td= val["comment"]
				//- 		td.persian-text= val["persian_comment"]
				//- 		td= (val["download"]/1024/1024).toFixed(1) + " MB"
				//- 		td= (val["upload"]/1024/1024).toFixed(1) + " MB"
				//- 		td= (val["total_bytes"]/1024/1024).toFixed(1) + " MB"
				//- 		td
				//- 			.btn-group
				//- 				input.delete-ip.btn.btn-danger(type="button" data-id=""+ val['id'] value="delete")
				//- 				input.edit-ip-btn.btn.btn-warning(type="button" data-id="" + val['id'] data-ip="" + val['ip'] data-address="" + val['address'] data-comment="" + (val["comment"] ? val["comment"]:" ") data-persiancomment="" + (val['persian_comment'] ? val['persian_comment']:" ") value="edit")
				//- 				if val["show_in_site"] == 0
				//- 					input.show-in-site.btn.btn-success(type="button" data-id="" + val['id'] value="show in site")
				//- 				else
				//- 					input.hide-in-site.btn.btn-danger(type="button" data-id="" + val['id'] value="hide in site")
			
			.modal.fade#myModal(role="dialog")
				.modal-dialog
					.modal-content
						.modal-header
							h4.modal-title#modal-title Modal Header
							button.close(type="button" data-dismiss="modal") &times;
						.modal-body
							p#modal-body-content some text in modal
						.modal-footer
							input.btn.btn-default(type="button" data-dismiss="modal" value="close")

			.modal.fade#editModal(role="dialog")
				.modal-dialog
					.modal-content
						.modal-header
							h4.modal-title#modal-title Edit
							button.close(type="button" data-dismiss="modal")
						.modal-body
							form
								.form-group(style="display:none;")
									input#edit-id.form-control
								.form-group
									label.form-control-label(for="edit-ip") IP:
									input#edit-ip.form-control
								.form-group
									label.form-control-label(for="edit-address") Address
									input#edit-address.form-control
								.form-group
									label.form-control-label(for="edit-comment") Comment
									input#edit-comment.form-control
								.form-group
									label.form-control-label(for="edit-persian-comment") Persian Comment:
									input#edit-persian-comment.form-control
						.modal-footer
							input.btn.btn-default(type="button" data-dismiss="modal" value="close")
							input.btn.btn-success#edit-item(type="button" value="send")
			script.
				function actionsFormatter(value, row,index, field){
					var ret = "<div class='btn-group'>";
					//- var ret="";
					ret += "<input class='delete-ip btn btn-danger' type='button' data-id='" + row['id'] + "' value='delete' />";
					ret += "<input class='edit-ip-btn btn btn-warning' type='button' value='edit' ";
					ret += " data-id='" + row['id'] + "'";
					ret += " data-ip='" + row['ip'] + "'";
					ret += " data-address='" + row['address'] + "'";
					ret += " data-comment='" + (row['comment'] ? row['comment']:"") + "'";
					ret += " data-persiancomment='" + (row['persian_comment'] ? row['persian_comment']:"") +"'";
					ret += " />"
					console.log(row);
					if(row['show_in_site'] == "0")
						ret += "<input class='show-in-site btn btn-success' type='button' data-id='" + row['id'] + "' value='show in site' />"
					else
						ret += "<input class='hide-in-site btn btn-danger' type='button' data-id='" + row['id'] + "' value='hide in site' />"

					ret += "</div>";
					return ret;
				}
				function byteFormatter(value,row,index, field){
					if(value!=0){
						return (value/1024/1024/1024).toFixed(3) + " GB";
					}
					return value + " GB";
				}
				function show_msg(title,msg,reload=false){
					if(reload){
						$('#myModal').on('hidden.bs.modal', function () {
							location.reload();
						});
					}
					$("#modal-title").html(title);
					$("#modal-body-content").html(msg);
					$("#myModal").modal();
				}
				function ValidateIPaddress(ipaddress) 
				{  
					  if (/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(ipaddress)) {  
					    return (true)  
					  }  
					  return (false)  
				}
				$(document).ready(function(){

					$("#submit-btn").click(function(e)
					{
						var ip = $("#filter-ip").val();
						var comment = $("#comment").val();
						if(!ValidateIPaddress(ip))
						{
							show_msg("Error","invalid ip address");							
						}else if(comment==""){
							$("#modal-title").html("Error");
							$("#modal-body-content").html("Provide a comment");
							$("#myModal").modal();
						}else
						{
						//- console.log($("#filter-ip").val());
						//- console.log($("#address").val());
						//- console.log($("#comment").val());
						//- console.log($("#persian-comment").val());
						 	var show_in_site = 0;
							if ($('#show-in-site-checkbox').is(":checked")){
							   show_in_site = 1;
							}
							$.ajax({
								url:"/add-ip/",
								data:{"ip":$("#filter-ip").val(),"address":$("#address").val(), "comment":$("#comment").val(), "persianComment":$("#persian-comment").val(), "show_in_site":show_in_site},
								method:"post"
							}).done(function(data){
								data = JSON.parse(data);
								
								if(data && data.success)
								{
									console.log('inif');
									$('#myModal').on('hidden.bs.modal', function () {
										location.reload();
									});
									$("#modal-title").html("success");
									$("#modal-body-content").html("success");
									$("#myModal").modal();
									
								}else{
									console.log('in else');
									$("#modal-title").html("Error");
									$("#modal-body-content").html(data.msg);
									$("#myModal").modal();
								}
							});
						}
					});

					$('body').on('click',".delete-ip",function(e)
					{

						var id=$(this).attr("data-id");
						$.ajax({
							url:"/remove-ip/" + id,
							method:"post"
						}).done(function(data){
							$('#myModal').on('hidden.bs.modal', function () {
								location.reload();
							});
							$("#modal-title").html("success");
							$("#modal-body-content").html("successfully deleted.");
							$("#myModal").modal();
						})

					});

					$('body').on("click",".edit-ip-btn",function()
					{
						var id 		= $(this).attr("data-id");
						var ip 		= $(this).attr("data-ip");
						var comment =$(this).attr("data-comment");
						var address = $(this).attr("data-address");
						var persian_comment = $(this).attr("data-persiancomment");
						//- console.log([id,ip,comment,address,persian_comment]);
							$("#edit-id").val(id);
							$("#edit-ip").val(ip);
							$("#edit-address").val(address);
							$("#edit-comment").val(comment);
							$("#edit-persian-comment").val(persian_comment);
						$("#editModal").modal();
					});

					$("#edit-item").click(function()
					{
						var id 		= $("#edit-id").val();
						var ip 		= $("#edit-ip").val();
						var comment = $("#edit-comment").val();
						var address = $("#edit-address").val();
						var persian_comment = $("#edit-persian-comment").val();
						console.log([id,ip,comment,address,persian_comment]);
						if(!ValidateIPaddress(ip))
						{
								$("#modal-title").html("Error");
								$("#modal-body-content").html("invalid ip address");
								$("#myModal").modal();
						}else
						{
							$.ajax({
									url:"/edit-ip/",
									data:{"id":id,"ip":ip,"address":address, "comment":comment, "persianComment":persian_comment},
									method:"post"
								}).done(function(data){
									data = JSON.parse(data);
									
									if(data && data.success)
									{
											location.reload();
									}else{
										//- console.log('in else');
										alert("fail: " + data.msg);
									}
								});
						}
					});

					
					$('body').on("click",".show-in-site",function(){
						var id = $(this).attr("data-id");
						console.log("show in site event: " + id);
						$.ajax({
							url:"/update-site-status",
							data:{"id":id,"show":1},
							method:"post"
						}).done(function(data){
							data = JSON.parse(data);
							if(data && data.success){
								show_msg("success","successfully updated",true);
								//- $("#modal-title").html("success");
								//- $("#modal-body-content").html("successfully updated.");
								//- $("#myModal").modal();
								//- $('#myModal').on('hidden.bs.modal', function () {
									//- location.reload();
								//- });
							}else{
								show_msg("Error",data.msg);
							}
						})
					});

					$('body').on('click',".hide-in-site",function(){
						var id = $(this).attr("data-id");
						console.log("show in site event: " + id);
						$.ajax({
							url:"/update-site-status",
							data:{"id":id,"show":0},
							method:"post"
						}).done(function(data){
							data = JSON.parse(data);
							if(data && data.success){
								show_msg("success","successfully updated",true)
							}else{
								show_msg("Error",data.msg);
							}
						})
					});

				});