doctype html
html
  head
    block title
      title FaraFlow
    block meta
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='/bootstrap-table/dist/bootstrap-table.min.css', rel='stylesheet', type='text/css')
    script(src='/jquery/jquery.min.js')
    //- script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/bootstrap/js/bootstrap.bundle.min.js')
    script(src='/bootstrap-table/dist/bootstrap-table.min.js')
    style.
      @font-face {
          font-family: 'yekan';
          src:  url('/fonts/yekan-ash.eot');
          src:  url('/fonts/yekan-ash.eot??#iefix') format('embedded-opentype'),
                url('/fonts/yekan-ash.woff') format('woff'),
                url('/fonts/yekan-ash.ttf') format('truetype');
          font-weight:normal;
          font-style:normal;
      }
      .persian-text{
        font-family:yekan!important;
      }

  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg.bg-dark.fixed-top
      .container
        a.navbar-brand FaraFlow
        button.navbar-toggler(data-toggle="collapse" data-target="#navbarResponsive" type="button")
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarResponsive
          ul.navbar-nav.ml-auto
            li.nav-item.active
              a.nav-link(href="/") Home
                span.sr-only current
            li.nav-item
              a.nav-link(href="/persiansites") sites-summary
            li.nav-item
              a.nav-link(href="/net-summary") net-summary
            li.nav-item
              a.nav-link(href="/user-summary") user-summary
            li.nav-item
              a.nav-link(href="/admin-logout") logout
            //- li.nav-item
            //-   a.nav-link(href="#") Services
            
    .container
      .row
        .col-xs-12(style="padding-top:100px")
          block content
