doctype html
html
  head
    block title
      title FaraFlow
    block meta
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    script(src='/jquery/jquery.min.js')
    //- script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/bootstrap/js/bootstrap.bundle.min.js')
    style.
      @font-face {
          font-family: 'yekan';
          src:  url('/fonts/yekan-ash.eot');
          src:  url('/fonts/yekan-ash.eot??#iefix') format('embedded-opentype'),
                url('/fonts/yekan-ash.woff') format('woff'),
                url('/fonts/yekan-ash.ttf') format('truetype');
          font-weight:normal;
          font-style:normal;
      }
      .persian-text{
        font-family:yekan!important;
      }

  body
    .container
      .row
          block content