extends ./layout
block meta
		<meta http-equiv="refresh" content="5">
block content
	.row
		.col-xs-12
			- var total=0
			- var upload=0
			- var download=0
			- for(var x = 0; x < vm.length;++x) 
				- total+=vm[x]["total_bytes"]
				- upload+=vm[x]["upload"]
				- download+=vm[x]["download"]
			table.table.table-responsive
				tr
					td download
					td= (download/1024/1024).toFixed(1) + " MB"
				tr
					td upload
					td= (upload/1024/1024).toFixed(1) + " MB"
				tr
					td total
					td= (total/1024/1024).toFixed(1) + "MB"
