//- doctype html
//- html
//-   head
//-     block title
//-       title ....
//-     link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
//-     script(src='/jquery/jquery.min.js')
//-     //- script(src='/bootstrap/js/bootstrap.min.js')
//-     script(src='/bootstrap/js/bootstrap.bundle.min.js')
//-     style.
//-       @font-face {
//-           font-family: 'yekan';
//-           src:  url('/fonts/yekan-ash.eot');
//-           src:  url('/fonts/yekan-ash.eot??#iefix') format('embedded-opentype'),
//-                 url('/fonts/yekan-ash.woff') format('woff'),
//-                 url('/fonts/yekan-ash.ttf') format('truetype');
//-           font-weight:normal;
//-           font-style:normal;
//-       }
//-       .persian-text{
//-         font-family:yekan!important;
//-       }
//-       .table-striped > tbody > tr:nth-child(odd) > td{
//-         //- background-color: rgb(255,255,153);
//-         background-color:yellow;
//-         color:black;
//-       }
//-       .table-striped > tbody > tr:nth-child(even) > td {
//-         background-color: black;
//-         color:yellow;
//-       }
//-       //- .table-striped > tbody>tr:nth-child(odd)>th{ background-color:blue; }
//-       .table-striped > tbody > tr{ text-align:center;}
//-   body(style="direction:rtl")
//-     .container
//-       .row
//-         .col-xs-12(style="padding-top:100px")
//-           table.table.table-hover.table-bordered.table-striped.table-responsive
//-             tr.persian-text
//-               td ردیف
//-               td آدرس سایت
//-               td نام وب سایت
//-             each val,index in vm
//-               tr
//-                 td= index+1
//-                 td= val['address']
//-                 td.persian-text
//-                   a(href="http://" + val['address'] target="_blank")=val['persian_comment']


extends ./layout
block content
  .row
    .col-xs-12(style="direction:rtl")
      table.table.table-hover.table-bordered.table-striped.table-responsive
        tr.persian-text
          td ردیف
          td آدرس سایت
          td نام وب سایت
        each val,index in vm
          tr
            td= index+1
            td= val['address']
            td.persian-text
              a(href="http://" + val['address'] target="_blank")=val['persian_comment']