extends ./layout
block content
	.row
		.col-xs-12
			table.table.table-bordered.table-striped
				tr
					td #
					td ip
					td download
					td upload
					td total
				each val,index in vm
					if val["total_bytes"] > 0
						tr
							td= index+1
							td= val["ip"].split("___")[0]
							td= (val["download"]/1024/1024).toFixed(1) + " MB"
							td= (val["upload"]/1024/1024).toFixed(1) +" MB"
							td(style='background:' + (val["total_bytes"] > 0 ? "yellow":""))= (val["total_bytes"]/1024/1024).toFixed(1) + " MB"
				- var total=0
				- for(var x = 0; x < vm.length;++x) total+=vm[x]["total_bytes"]
					tr
						td(colspan="4" style="text-align:center2") total
						td= (total/1024/1024).toFixed(1) + "MB"