extends ./layout
block content
	.row
		.col-xs-5.form-group
			label.label.col-xs-4 ip:
			input#filter-ip.form-control.col-xs-8(type="text")
		.col-xs-5.form-group
			label.label comment:
			input#comment.form-control(type="text")
		.col-xs-2
			input#submit-btn.btn.btn-success.form-control(type="button" value="submit")
	p
	table.table.table-bordered.table-striped
		tr
			td #
			td ip
			td comment
			td action			
		each val,index in ips
			tr
				td= index+1
				td= val["ip"]
				td= val["comment"]
				td
					input.delete-ip.btn.btn-warning(type="button" data-id=""+ val['id'] value="delete")

	script.
		function ValidateIPaddress(ipaddress) 
		{  
			  if (/^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/.test(ipaddress)) {  
			    return (true)  
			  }  
			  return (false)  
		}
		$(document).ready(function(){

			$("#submit-btn").click(function(e)
			{

				var ip = $("#filter-ip").val();
				var comment = $("#comment").val();
				if(!ValidateIPaddress(ip))
				{
					alert("invalid ip address");
				}else
				{
						$.ajax({
							url:"/add-ip/" + ip + "/" + comment,
							method:"post"
						}).done(function(data){
							data = JSON.parse(data);
							
							if(data && data.success)
							{
								alert("success");
								location.reload();
							}else{
								
								alert("fail " + data.msg);
							}
							//- alert("done");
							//- location.reload();
						});
				}
			});

			$(".delete-ip").click(function(e)
			{

				var id=$(this).attr("data-id");
				$.ajax({
					url:"/remove-ip/" + id,
					method:"post"
				}).done(function(data){
					alert("done");
					location.reload();
				})

			});

		});