doctype html
html
  head
    block title
      title The title
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    script(src='/jquery/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
  body
    nav.navbar.navbar-expand-lg.navbar-dark.bg.bg-dark.fixed-top
      .container
        a.navbar-brand start bootstrap
        button.navbar-toggler(data-toggle="collapse" data-target="#navbarResponsive" type="button")
          span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarResponsive
          ul.navbar-nav.ml-auto
            li.nav-item.active
              a.nav-link(href="#") Home
                span.sr-only current
            li.nav-item
              a.nav-link(href="#") About
            li.nav-item
              a.nav-link(href="#") Services
            
    .container
      .row
        .col-xs-12(style="padding-top:100px")
          block content
